<!DOCTYPE html>
<html>
  <head>
    <title>Sentiment Analysis on Tweets</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>    
  </head>
    
    
  <body id="scroll">    
    <%= render :partial => "layouts/header" %>
        
    <% flash.each do |key, value| %>
      <div class="alert <%= key %>">
        <%= value %><a class="close" data-dismiss="alert" href="#">&times;</a>
      </div>
    <% end %>

    <div id="content">
      <%= yield %>
    </div>
    
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Tweet Sentiment analysis -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-0154025570466623"
         data-ad-slot="7864086432"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </body>
</html>
